.root {
    -fx-background-color: rgb(220, 200, 60);
    -fx-border-width: 10px;
    -fx-border-style: solid;
    -fx-border-color: rgb(180, 160, 30);
    /*
    -fx-font-size: 16px;
    */
    -fx-font-family: 'Comic Neue';
    image-bg-url: none;
}

.cardDeck {
    -fx-border-width: 0px 5px 7px 0px;
    -fx-border-style: solid;
    -fx-border-color: rgb(74, 74, 74);
}

.plateauContainerGame {
    -fx-padding: 10px;
    -fx-max-width: 200px;
}

.cardDeckContainer {
    -fx-padding: 10px;
}

.blueBackground {
    -fx-background-color: rgba(0, 0, 255, 0.4);
}

.greenBackground {
    -fx-background-color: rgba(0, 128, 0, 0.4);
}

.redBackground {
    -fx-background-color: rgba(255, 0, 0, 0.4);
}

.yellowBackground {
    -fx-background-color: rgba(255, 255, 0, 0.4);
}

.horizontalPlayerContainer {
    -fx-padding: 30px;
}

.verticalPlayerContainer {
    -fx-padding: 30px;
}

.backgoundHover {
    -fx-background-color: rgba(0,0,0,0.4);
}

.backgoundNoHover {
    -fx-background-color: none;
}

Text {
    -fx-fill: white;
}

.greenText {
    -fx-fill: green;
}

.redText {
    -fx-fill: red;
}
