Separator {
    -fx-opacity: 0;
    -fx-padding: 0;
}

Text {
    -fx-font-weight: bold;
}

.root {
    /* -fx-background-color: rgb(220, 200, 60); /*
    -fx-border-width: 10px;
    -fx-border-style: solid;
    -fx-border-color: rgb(180, 160, 30);
    /* -fx-font-size: 16px; */
    -fx-font-family: 'Comic Neue';
    -fx-background-image: url("../img/bricks_red.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 500;
}

.cardDeck {
    -fx-border-width: 0px 5px 7px 0px;
    -fx-border-style: solid;
    -fx-border-color: rgb(74, 74, 74);
}

.plateauContainerGame {
    -fx-padding: 10px;
    -fx-max-width: 200px;
}

.cardDeckContainer {
    -fx-padding: 10px;
}

.blueBackground {
    -fx-background-color: rgba(0, 0, 255, 0.4);
}

.greenBackground {
    -fx-background-color: rgba(0, 128, 0, 0.4);
}

.redBackground {
    -fx-background-color: rgba(255, 0, 0, 0.4);
}

.yellowBackground {
    -fx-background-color: rgba(255, 255, 0, 0.4);
}

.horizontalPlayerContainer {
    -fx-padding: 30px;
}

.verticalPlayerContainer {
    -fx-padding: 30px;
}

.backgoundHover {
    -fx-background-color: rgba(0,0,0,0.4);
}

.backgoundNoHover {
    -fx-background-color: none;
}

Text, Label {
    -fx-fill: white;
    -fx-text-fill: white;
}

.greenText {
    -fx-fill: green;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.8) , 2, 1, 0, 0);
}

.redText {
    -fx-fill: red;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.8) , 2, 1, 0, 0);
}

.anchorPaneHandContainer {
    -fx-fit-to-width: 100%;
}

.stackPaneHandContainer {
    -fx-padding: 10;
}

#scrollPaneContainerBoard {
    -fx-background-color: transparent;
    -fx-border-width: 4;
    -fx-border-color: rgb(220, 200, 60);
}

#scrollPaneContainerBoard .viewport {
    -fx-background-color: transparent;
}

#scrollPaneContainerBoard #scrollPaneContainerBoard:horizontal,
#scrollPaneContainerBoard #scrollPaneContainerBoard:vertical {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-max-width: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}
